@font-face {
  font-family: RedHat;
  src: url(../assets/fonts/RedHatText-Bold.ttf);
  font-weight: bold;
}
body {
  max-width: 100vw;
  max-height: 100vh;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: RedHat;
  background-color: #1e1f29;
  background-image: url(../assets/bg-stars.svg);
}

h1 {
  font-family: RedHat;
  font-size: 4vw;
  padding: 0% 5%;
  color: white;
  letter-spacing: 0.25vw;
}

.main-container {
  width: 100%;
  height: auto;
  text-align: center;
  margin-top: 7rem;
}

.count-down-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 1.25rem;
  max-width: 90%;
  width: 100%;
  height: auto;
  margin: 0 auto;
  margin-top: 5rem;
}

.items-container {
  position: relative;
  position: relative;
  display: flex;
  flex-direction: column;
  max-width: 13vw;
  max-height: 12vw;
  width: 100%;
  height: 100%;
}

.clock-container {
  position: relative;
  display: flex;
  flex-direction: column;
  max-width: 13vw;
  max-height: 12vw;
  width: 100%;
  height: 100%;
  justify-content: space-around;
  gap: 2.5px;
  box-shadow: 0px 10px 5px #191a24;
}

.footer-container {
  position: absolute;
  width: 100%;
  height: auto;
  min-height: 190px;
  bottom: 0;
  background-image: url(../assets/pattern-hills.svg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 85% 100%;
  text-align: center;
  font-size: 75%;
}

.social-container {
  display: flex;
  flex-direction: row;
  flex-wrap: no-wrap;
  gap: 2rem;
  justify-content: center;
  width: 35%;
  height: auto;
  margin: 0 auto;
  margin-top: 7rem;
}

.attribution {
  position: absolute;
  bottom: 0;
  right: 0;
  left: 0;
  padding: 1% 0%;
}

.number {
  position: absolute;
  z-index: 100;
  display: flex;
  width: 100%;
  height: 100%;
  padding: 0;
  margin: 0;
  justify-content: center;
  align-items: center;
  color: #fb6087;
  font-size: 7vw;
}

.flap {
  max-width: 13vw;
  max-height: 12vw;
  width: 13vw;
  height: 12vw;
  background-color: #343650;
  margin: 0 auto;
  border-radius: 10px;
}

.top-flap {
  opacity: 0.5;
}

.fold-flap {
  position: absolute;
  height: 50%;
  top: 0;
  left: 0;
  z-index: 99;
}

.label {
  position: relative;
  margin-top: 25%;
  font-weight: 300;
  letter-spacing: 0.45em;
  font-size: 0.5rem;
  color: #8385A9;
  z-index: 100;
}

.social-icon {
  max-width: 25px;
  max-height: 25px;
  width: 100%;
  height: auto;
}

.social-icon:hover {
  fill: #fb6087;
  cursor: pointer;
}

.attribution-p {
  font-family: arial;
  font-size: 80%;
  color: #fb6087;
}

.attribution-p a {
  color: #fb6087;
}

@media screen and (min-width: 1275px) {
  .footer-container {
    min-height: 220px;
  }
}
@keyframes flip-flap {
  0% {
    background-color: #343650;
    opacity: 1;
    transform: rotateX(180deg);
  }
  50% {
    opacity: 0.6;
    background-color: #1e1f29;
  }
  75% {
    transform: translateY(105%);
    opacity: 0.3;
  }
  100% {
    opacity: 0;
  }
}
@media only screen and (max-width: 768px) {
  .count-down-container {
    width: 100%;
    height: 100%;
  }

  .items-container {
    max-width: 13vw;
    max-height: 15vw;
  }

  .clock-container {
    max-width: 13vw;
    max-height: 15vw;
  }
}

/*# sourceMappingURL=styles.css.map */
