body
    max-width: 100vw
    max-height: 100vh
    padding: 0
    margin: 0
    box-sizing: border-box
    font-family: RedHat
    background-color: $bg-color
    background-image: url(../assets/bg-stars.svg)

h1
    font-family: RedHat
    font-size: 4vw
    padding: 0% 5%
    color: white
    letter-spacing: 0.25vw
