.main-container
    width: 100%
    height: auto
    text-align: center
    margin-top: 7rem

.count-down-container
    display: flex
    flex-direction: row
    justify-content: center
    gap: 1.25rem
    max-width: 90%
    width: 100%
    height: auto
    margin: 0 auto
    margin-top: 5rem

.items-container
    position: relative
    @include flex-col

.clock-container
    @include flex-col
    justify-content: space-around
    gap: 2.5px
    box-shadow: 0px 10px 5px hsl(234, 17%, 12%)

.footer-container
    position: absolute
    width: 100%
    height: auto
    min-height: 190px
    bottom: 0
    background-image: url(../assets/pattern-hills.svg)
    background-repeat: no-repeat
    background-size: cover
    background-position: 85% 100%
    text-align: center
    font-size: 75%

.social-container
    display: flex
    flex-direction: row
    flex-wrap: no-wrap
    gap: 2rem
    justify-content: center
    width: 35%
    height: auto
    margin: 0 auto
    margin-top: 7rem

.attribution
    position: absolute
    bottom: 0
    right: 0
    left: 0
    padding: 1% 0%